/* * {
    outline: 1px solid #f00 !important;
  } */
  

/* место для вашего кода */
body {
    background: #ffffff;

    /*Основной грид для всего проекта */    

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header" 
    "jambotron"
    "lots"
    "about"
    "footer";
    align-items: center;

}

/* ЗАГОЛОВОК ЗАГОЛОВОК ЗАГОЛОВОК ЗАГОЛОВОК ЗАГОЛОВОК ЗАГОЛОВОК ЗАГОЛОВОК ЗАГОЛОВОК ЗАГОЛОВОК ЗАГОЛОВОК */

.head-foot {
    /*grid-area: header;*/
    padding: 90px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grid_head {
    grid-area: header;
}
.header_menu {
    display: grid;
    justify-self: start;
}

.header_menu_list {
    display: grid;
    grid-template-columns: 67px 149px 108px;
    gap: 32px;
    grid-area: header_menu_list;
}

.header_menu_item {
    list-style: circle;
    justify-self: start;
    

}

.header_logo_black {
    width: 148px;
    /* height: 105px; */
    grid-area: header_logo_black;
    align-self: center;
    justify-self: center;
}

.contacts_list {
    max-width: 240px;
    /* height: 97px; */
    list-style: none;
    font-style: normal;
}

.header_address {
    align-self: center;
    justify-self: end;

}

/* ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН ДЖАМБОТРОН */

.main {
    grid-area: main;
}
.jambotron {
    grid-area: jambotron;

    width: 100%;
    
    /*margin-top: 90px; */
    /*margin-bottom: 90px;*/

    /* Настройка Бэкграунда */
    /*background: #000000; */
    background: linear-gradient(0deg, rgba(0 0 0 / 60%), rgba(0 0 0 / 60%)), url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* Настройка сетки джамботрона */ 
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 520px 237px;
    grid-template-areas:
    "title" 
    "jambo-foot";
    align-items: center; */

}

.title {
    /*grid-area: title;    */
    width: 100%;
    /*margin-top: 165px; */

    padding: 165px 50px 90px;

    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

    display: grid;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    grid-template-areas:
    "txt-ono"
    "txt-tebe"
    "txt-nado";
}

.txt-ono{
    justify-self: start;
    align-self: start;
    grid-area: txt-ono;

}

.txt-tebe{
    justify-self: center;
    align-self: start;
    grid-area: txt-tebe;
}

.txt-nado{
    justify-self: end;
    align-self: start;
    grid-area: txt-nado;
}
/* Continue from here */
.jambo-foot {
    padding: 50px 50px 50px 50px;
    /* margin-top: 85px; */


    color: #FFF;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;

    display: flex;
    gap: 70px;
    justify-content: end;
    align-content: end;

}

.subline {
    grid-area: subline;
    align-self: center;
    justify-self: flex-start;
    word-spacing: 20px;
    color: #FFF;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;


}

.bet-button {
    width: 257px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    background: none;
    grid-area: bet-button;
    justify-self: end;

    border: 1px solid #ffffff; 
}

/* ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ  ЛОТЫ */ 

.lots {
    grid-area: lots;
    width: 100%;
    padding: 180px 50px 80px;
}

.lots-title {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px;
    align-self: flex-start;
}

.line_of_lots {
    grid-area: line_of_lots;
    padding: 30px 0;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    /*flex-grow: 1; */

    
    /* display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: 450px;
    gap: 25px;
    align-items: center; */
}

.lot-item {
    list-style: none;
    /* Задаем фиксированную ширину и мин. высоту для элементов */
    min-height: 450px;
    width: 430px;
    padding: 50px 40px;
}

.lot-article{
    display: grid;
    min-height: 350px;
    width: 350px;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "lot-header"
    "lot-text";
}


.lot-header {
    grid-area: lot-header;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.lot-text {
    grid-area: lot-text;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    align-self: end;
    justify-self: end;

}

.lot-ptanderson {
    background: linear-gradient(0deg, rgba(0 0 0 / 60%), rgba(0 0 0 / 60%)), url(../images/card-lot-01.jpg)no-repeat center center / contain;  
}

.lot-ulysses {
    background: linear-gradient(0deg, rgba(0 0 0 / 60%), rgba(0 0 0 / 60%)), url(../images/card-lot-02.jpg) no-repeat center center / contain;
}

.lot-kandinsky {
    background: linear-gradient(0deg, rgba(0 0 0 / 60%), rgba(0 0 0 / 60%)), url(../images/card-lot-03.jpg) no-repeat center center / contain;
}

.more {
    margin-left: 40px;
    margin-bottom: 2px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ ОБ АУКЦИОНЕ */

.about {
    grid-area: about;

    width: 100%;
    padding: 90px 50px;

    display: grid;

    /*grid-template-columns: 430px 885px;
    grid-template-rows: 240px 240px; */
    column-gap: 30px;
    row-gap: 8px;
    grid-template-areas: 
    "about-logo about-article"
    ". about-article";
}

.about-logo {
    grid-area: about-logo;

    margin-left: 90px;
    margin-right: 90px;
    height: 240px;
    width: 240px;
    background-color: #000;
    border-radius: 50%;
    z-index: -1;
    align-self: center;
    justify-self: center;
}

.about-logo-img {
    padding: 63px 46px;
}

.about-article{
    display: grid;
    grid-area: about-article;
    /* grid-template-rows: repeat(2, 1rw); */
    row-gap: 8px;
}

.about-title {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: center;
    justify-self: start;

}

.about-text{
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: grid;
    justify-content: stretch;
    gap: 25px;
}

/* ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ ПОДВАЛ */

/* Стиль подвала вверху в классе head-foot */

.grid_foot {
    grid-area: footer; 
}

.footer_address {
    justify-self: start;
    align-self: stretch;
}

.footer_menu_nav {
    justify-self: center;
    align-self: start;

}

.footer_menu_list {
    display: grid;
    grid-area: footer_menu_list;
    justify-self: center;
    align-self: center;
}

.footer_menu_item {
    justify-self: center;
    align-self: center;

}

.footer_nav_soc{
    justify-self: end;
    align-self: start;

}

.footer_socials{    
    /* width: 240px;
    height: 48px; */
    gap: 48px;
    justify-self: center;
    align-self: center;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: footer_socials;
    list-style: none;

}

.footer_socials_img {
    width: 48px;
    height: 48px;
}

/* СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ СПИСКИ И ССЫЛКИ*/

.list_item_no_bullet {
    list-style: none;
}

.link_no_line {
    text-decoration: none;
}

/* ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ ШРИФТЫ */

.txt_lh_24 {
    line-height: 24px;
}

/* Шрифты для джамботрона */


.txt_ls_30 {
    /* межстрочный интервал - 30 */
    letter-spacing: 30px;
}

.txt_ls_60 {
    /* межстрочный интервал - 60 */
    letter-spacing: 60px;
}


